.Palette-container {
  height: 100vh;
  width: 100vw;
  /* margin-bottom: 30px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Palette-color {
  height: 90%;
}

.slider {
  width: 30%;
  padding: 10px 10px;
}

.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 7px;
}

.rc-slider-handle {
  background: green;
  border: none;
  outline: none;
}

.palette-footer {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  font-weight: bold;
}

.emoji {
  margin: 0 1rem;
}
